version: '3.8'

services:
    postgres:
        image: postgres:15-alpine
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123
            POSTGRES_DB: aegis_db
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - aegis_network

    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@aegis.com
            PGADMIN_DEFAULT_PASSWORD: admin123
        ports:
            - "5050:80"
        depends_on:
            - postgres
        networks:
            - aegis_network

volumes:
    postgres_data:

networks:
    aegis_network:
        driver: bridge